.Anakapalli-Collectorate{
  background: linear-gradient( 45deg,#0D47A1,#4CAF50);
  height: 100px;
}
.App{
  width: 100%;
  height: 100%;
  min-height: 1000px;
  min-width: 1000px;
}
*{
  margin: 0px;
}
.AnakapalliCollectorate{
  text-align: center;
  color: white;
  position: absolute;
  left: 100px;
  top: 15px;
}
.dc{
  position: absolute;
  right: 25%;
  top: 15px;

}
.dcname{
  position: absolute;
  right: 10%;
  top: 18px;
  color: white;
}
.dcname1{
  position: absolute;
  right: 9%;
  top: 40px;
  color: white;
  

}
.logo{
  position: absolute;
  top: 10px;
  left: 20px;
}
.nav {
  display: flex;
  justify-self: start;
  background-color: whitesmoke;
  padding: 10px;
  left : 20px;
}

.nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  transition: color 0.5s;

}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav a:hover, .dropdown:hover .dropbtn {
  background-color: tomato;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: brown;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.Login{
  position: absolute;
  right: 45px;
  border: 1px solid whitesmoke;
  background-color: lightsalmon;
  border-radius: 20px;
  height: 25px;
  width: 70px;
  font-size: larger;
  text-align: center;

}
.table{
  border-collapse: collapse;
  width :80%;
  margin-left: 120px;
  margin-top: 100px;
  justify-self:center;
}
.h3{
  text-align: center;
  margin-top: 50px;
  color: darkred;
}

