.loginContainer{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.LoginContainer {
    flex: 1;
    background-color: black;
}

.usernameContainer{
    /* margin: auto; */
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    height: 30px;
    width: 80%; 
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    color: white;
    
}

.passwordContainer{
    /* margin: auto; */
    display: flex;
    /* justify-content: center; */
    align-items: center;   
    height: 30px;
    width: 80%; 
    padding: 20px;
    border-radius: 15px;
    color: white;

}

.newUserLink {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}
p {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

input[type=text], input[type=password] {
    width: 22rem;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .submit{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 20px;
    margin: auto 120px;
    margin-top: 30px;

  }